body {
    background: #fff3cd;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #ff6b6b;
}

.emojis span {
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}

.emojis span:hover {
    transform: scale(1.3);
}

#message {
    margin-top: 20px;
    font-size: 20px;
    color: #1c022460;
}
/* ===== 7 Days History Section ===== */

.history-section {
    margin-top: 40px;
}

#history {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.history-box {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.history-box p {
    margin: 5px 0;
    font-size: 12px;
}

.history-box span {
    font-size: 25px;
}
